@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './styles/fonts.css';

@theme {
  --font-tektur: 'tektur', sans-serif;
  --font-prosto-one: 'prosto-one', sans-serif;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-card: var(--card);
  --color-link: var(--link);
}

:root {
  --primary: #f4d508;
  --secondary: #171a21;
  --background: #0e0f12;
  --card: #16181f;
  --link: #326ded;

  --swiper-navigation-color: var(--primary);
  --swiper-pagination-color: var(--primary);
  --swiper-navigation-sides-offset: 1rem;
  --swiper-pagination-bullet-width: 1rem;
  --swiper-pagination-bullet-height: 1rem;
}

@layer base {
  body {
    @apply bg-background flex flex-col justify-start items-center;
  }
  #app {
    @apply px-4 w-full lg:w-6xl flex flex-col items-center justify-start;
  }
  a,
  a > *,
  dd {
    @apply cursor-pointer hover:text-link;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white text-lg md:text-2xl text-center font-tektur;
  }
  p,
  li,
  dd,
  dt {
    @apply text-sm lg:text-base text-white text-left;
  }
  p {
    @apply text-justify;
  }
  p,
  li {
    @apply my-4;
  }
  dd {
    @apply text-link text-center hover:underline;
  }
  dt {
    @apply pr-0 md:pr-7;
  }
  section {
    @apply font-prosto-one;
  }
  section {
    @apply mb-16;
  }
  .swiper-button-next:hover > svg,
  .swiper-button-prev:hover > svg {
    @apply text-link;
  }
  button {
    @apply rounded-xl border border-primary/30 hover:border-link px-3 py-1 text-xl text-primary font-tektur hover:text-link hover:bg-primary/10 hover:cursor-pointer;
  }
}

@layer components {
  .view {
    @apply p-4 md:p-12 text-white;
  }
  .social-icon {
    @apply text-[4rem] size-16 inline-flex justify-center text-primary;
  }
  .pagination-container {
    @apply gap-2
  }
  .active-page {
    @apply bg-primary text-white;
  }
}
