@import 'tailwindcss';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./styles/fonts.css";

@theme {
  --font-tektur: 'tektur', sans-serif;
  --font-prosto-one: 'prosto-one', sans-serif;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-card: var(--card);
  --color-link: var(--link);
}

:root {
  --primary: #f4d508;
  --secondary: #171a21;
  --background: #0e0f12;
  --card: #16181F;
  --link: #326DED;

  --swiper-navigation-color: var(--primary);
  --swiper-pagination-color: var(--primary);
  --swiper-navigation-sides-offset: 1rem;
  --swiper-pagination-bullet-width: 1rem;
  --swiper-pagination-bullet-height: 1rem;
}


@layer base {
  body {
    @apply bg-background flex flex-col justify-start items-center;
  }
  #app {
    @apply px-4 w-full lg:w-6xl flex flex-col items-center justify-start;
  }
  a, a > *, dd {
    @apply cursor-pointer hover:text-link;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-white text-lg md:text-2xl text-center font-tektur;
  }
  h1 {
    @apply text-black;
  }
  p, li, dd, dt {
    @apply text-sm lg:text-base text-white text-justify;
  }
  p, li {
    @apply my-4;
  }
  dd {
    @apply text-link text-center hover:underline;
  }
  dt {
    @apply pr-0 md:pr-7;
  }
  section {
    @apply font-prosto-one;
  }
  section {
    @apply mb-16;
  }
  .swiper-button-next:hover > svg, .swiper-button-prev:hover > svg {
    @apply text-link;
  }
}

@layer components {
  .view {
    @apply p-4 md:p-12 text-white; 
  }
}
