@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import './styles/fonts.css';

@theme {
  --font-tektur: 'tektur', sans-serif;
  --font-prosto-one: 'prosto-one', sans-serif;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-card: var(--card);
  --color-link: var(--link);
  --color-primary-active: var(--primary-active);
}

:root {
  --primary: #f4d508;
  --secondary: #171a21;
  --background: #0e0f12;
  --card: #16181f;
  --link: #326ded;

  --swiper-navigation-color: var(--primary);
  --swiper-pagination-color: var(--primary);
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-width: 1.25rem;
  --swiper-pagination-bullet-height: 1.25rem;
}

@layer base {
  body {
    @apply bg-background flex flex-col justify-start items-center;
  }
  #app {
    @apply px-4 w-full lg:w-6xl flex flex-col items-center justify-start;
  }
  a,
  a > * {
    @apply cursor-pointer;
  }
  .h-like,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply inline-block text-white text-lg md:text-2xl text-center font-tektur w-full;
  }
  h1 {
    @apply text-2xl md:text-3xl text-center font-tektur mb-14;
  }
  ul {
    @apply list-disc list-inside;
  }
  p,
  li {
    @apply lg:text-base text-white my-4;
  }
  p {
    @apply text-justify;
  }
  dd, dt {
    @apply my-auto mask-auto text-white text-left font-tektur;
  }
  dd {
    @apply text-link hover:underline;
  }
  dt {
    @apply pr-0 md:pr-7;
  }
  dl {
    @apply text-base sm:text-lg md:text-xl;
  }
  section {
    @apply font-prosto-one mb-16;
  }
  button {
    @apply border border-primary rounded-sm hover:border-link hover:text-link hover:cursor-pointer px-3 py-1 text-primary font-tektur;
  }
  .content h1,
  .content h2,
  .content h3,
  .content h4, 
  .content h5, 
  .content h6,
  .content p {
    @apply mt-16;
  }
}

@layer components {
  .view {
    @apply p-8 md:py-18 md:px-12 text-white;
  }
  .social-icon {
    @apply transition-transform duration-300 leading-none inline-flex items-center justify-center text-primary hover:text-link hover:fill-link hover:scale-120 align-middle;
  }
  .social-icon.fa-brands {
    @apply text-6xl;
  }
  .pagination-container {
    @apply gap-2;
  }
  .paginate-buttons {
    @apply size-12 text-xl;
  }
  .active-page {
    @apply bg-primary text-white;
  }
}
